{% extends "inicio/encabezado.html" %}
<title>{% block Encabezado %}Principal{% endblock %}</title>

{% block imagen %}
{% load static %}
{% static 'inicio/images/home.png' %}
{% endblock %}

{% block titulo_usuario %}Principal{% endblock %}
{% block subtitulo_usuario %}DSM{% endblock %}

{% block contenido %}
<!-- Contenido Principal-->
<div class="page-content">
    <!--Encabezdo -->
    <div class="page-header">
        <div class="page-title">
            <h3>Alumnos
                <small>Lista de Alumnos </small>
            </h3>
        </div>
    </div>
</div>
<!-- /Contenido Principal-->
{% endblock %}
